<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 h-fg-1 h-ai-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Courses</a>
        </li>
        <li class="nav-item dropdown ms-auto">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://i.pinimg.com/originals/a9/3c/38/a93c3852ebc9b4f148c6bda247adc001.jpg" alt="" class="user-avatar">
            TQHuy
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Add course</a></li>
            <li><a class="dropdown-item" href="#">Post blog</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/courses">My courses</a></li>
            <li><a class="dropdown-item" href="#">My blogs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>